
    body{
        background-image: url('pictures/greenary.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
    }

    
